<h3>New Comment</h3>

<% if user_signed_in? %>
  <%= form_for([@address, @address.comments.build]) do |f| %>
    <%= f.text_area :content, class: "form-control" %>
    <br>
    <%= f.file_field :photo, class: "form-control" %>
    <br>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
<% end %>
