<!-- app/views/static/admin_user.html.erb -->

<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1>List of Users</h1>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.role %></td>
                <td>
                  <%= link_to 'Edit Role', admin_edit_user_path(user), class: 'btn btn-primary' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
