<h1>
  Edit Permit <%= @permit.permitnumber %>
</h1>

<%= render 'form', permit: @permit %>

<%= link_to 'Show', @permit, class: 'btn btn-link' %> |
<%= link_to 'Back', permits_path, class: 'btn btn-link' %>