<h1>Permits</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Permit ID</th>
      <th>Address ID</th>
      <th>Inspection ID</th>
    </tr>
  </thead>

  <tbody>
    <% @permits.each do |permit| %>
      <tr>
        <td><%= link_to permit.permitnumber, permit %></td>
        <td><%= link_to permit.address.property_name_with_combadd, address_path(permit.address_id) %></td>
        <td><%= link_to permit.inspection_id, address_inspection_path(permit.address, permit.inspection_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
