<h1> Permit </h1>

<p>
  <strong>Address:</strong>
  <%= @permit.address.property_name_with_combadd %>
  <%= link_to address_path(@permit.address) do %>
    <i class="align-middle" data-feather="external-link"></i>
  <% end %>
</p>

<p>
  <strong>Inspection ID:</strong>
  <%= @permit.inspection_id %>
  <%= link_to address_inspection_path(@permit.address, @permit.inspection) do %>
    <i class="align-middle" data-feather="external-link"></i>
  <% end %>
</p>