<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1>Edit Address</h1>

      <%= form_for @address, html: { id: 'address-form' } do |f| %>
        <div id="aka-group" class="form-group">
          <label>Also known as</label>
          <%= f.text_field :aka, class: "form-control aka-field" %>
        </div>

        <button type="button" id="add-aka" class="btn btn-secondary mt-3">Add another AKA</button>

        <%= f.hidden_field :aka, id: 'aka-hidden' %>
        <%= f.submit "Update Address", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  /**
   * Adds an event listener to the 'add-aka' element, which creates a new input field when clicked.
   * Adds an event listener to the 'address-form' element, which prevents the default form submission behavior.
   * Retrieves the values of all 'aka-field' elements and stores them in an array.
   * Sets the value of the 'aka-hidden' element to a comma-separated string of the aka field values.
   * Submits the form.
   */
  document.getElementById('add-aka').addEventListener('click', function() {
    var newField = document.createElement('input');
    newField.type = 'text';
    newField.className = 'form-control aka-field mt-3';
    document.getElementById('aka-group').appendChild(newField);
  });

  document.getElementById('address-form').addEventListener('submit', function(e) {
    e.preventDefault();
    var akaFields = document.getElementsByClassName('aka-field');
    var akaValues = [];
    for (var i = 0; i < akaFields.length; i++) {
      akaValues.push(akaFields[i].value);
    }
    document.getElementById('aka-hidden').value = akaValues.join(', ');
    this.submit();
  });
</script>