<!-- list all units -->

<h4>Address:</h4>
<p><%= link_to @address.combadd, address_path(@address), class: "btn btn-primary" %> </p>

<!-- table of units -->

<table>
  <thead>
    <tr>
      <th>Unit Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @address.units.each do |unit| %>
      <tr>
        <td><%= unit.number %></td>
        <td><%= link_to "Edit Unit", edit_address_unit_path(@address, unit), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>