<!-- inspection table -->

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Complaints</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
            <tr>
            <th scope="col">Created At</th>
            <th scope="col">Address</th>
            <th scope="col">Source</th>
            <th scope="col">Status</th>
            <th scope="col">Inspector</th>
            <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          <% @inspections.order("created_at DESC").each do |inspection| %>
            <%= render partial: "shared/complaint_table", locals: {inspection: inspection} %>
          <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>